<footer id="footer">

	<div id="ig-footer">
		<div id="null-instagram-feed-2" class="instagram-widget null-instagram-feed">
			<h4 class="instagram-title">Pôr Sentido @ Instagram</h4>
			<ul class="instagram-pics instagram-size-large" id="instafeed">

			</ul>
		</div>
	</div>

	<div class="container">

		<div id="footer-social">

			<a href="http://facebook.com/solopinedesigns" target="_blank">
				<i class="fa fa-facebook"></i>
				<span>Facebook</span>
			</a>
			<a href="http://twitter.com/solopinedesigns" target="_blank">
				<i class="fa fa-twitter"></i>
				<span>Twitter</span>
			</a>
			<a href="http://instagram.com/solopine" target="_blank">
				<i class="fa fa-instagram"></i>
				<span>Instagram</span>
			</a>
			<a href="http://pinterest.com/#" target="_blank">
				<i class="fa fa-pinterest"></i>
				<span>Pinterest</span>
			</a>
			<a href="http://bloglovin.com/#" target="_blank">
				<i class="fa fa-heart"></i>
				<span>Bloglovin</span>
			</a>
			<a href="http://plus.google.com/#" target="_blank">
				<i class="fa fa-google-plus"></i>
				<span>Google +</span>
			</a>
			<a href="http://snapchat.com/add/" target="_blank">
				<i class="fa fa-snapchat-ghost"></i>
				<span>Snapchat</span>
			</a>
			<a href="#" target="_blank">
				<i class="fa fa-rss"></i>
				<span>RSS</span>
			</a>
		</div>

	</div>

</footer>

<div id="footer-bottom">

	<div class="container">

		<div class="copyright">
			<p>© Copyright 2016 - Solo Pine. All Rights Reserved. Designed &amp; Developed by <a href="http://solopine.com">Solo Pine</a></p>
		</div>

	</div>

</div>
