<header id="top-bar" class="">

	<div id="logo">
		<a href="/">
			<img src="/images/por-sentido.png" alt="Laurel" style="max-width: 180px;">
		</a>
	</div>

	<nav id="navigation">

		<div id="nav-wrapper">

			<ul id="menu-menu-1" class="menu">

				<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
					<a href="/categories/reflexoes/">Reflexões</a>
				</li>

				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
					<a href="/categories/mini-vidas">Mini vidas</a>
					<ul class="sub-menu">
						<li id="menu-item-209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209">
							<a href="/categories/lugarees">Lugares</a>
						</li>
						<li id="menu-item-210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210">
							<a href="/categories/dicas">Dicas</a>
						</li>
						<li id="menu-item-210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210">
							<a href="/categories/experiencias">Experiências</a>
						</li>
					</ul>
				</li>

				<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
					<a href="/categories/biohacking/">Biohacking</a>
				</li>

				<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
					<a href="/categories/veganismo/">Veganismo</a>
				</li>

				<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
					<a href="/categories/vida-em-casal/">Vida em casal</a>
				</li>

				<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
					<a href="/categories/minimalismo/">Minimalismo</a>
				</li>

			</ul>
		</div>

		<div id="slick-mobile-menu">
			<div class="slicknav_menu">
				<a href="#" aria-haspopup="true" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;">
					<span class="slicknav_menutxt">Mostrar menu</span>
					<span class="slicknav_icon">
						<span class="slicknav_icon-bar"></span>
						<span class="slicknav_icon-bar"></span>
						<span class="slicknav_icon-bar"></span>
					</span>
				</a>
				<ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">

					<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-65">
						<a href="/" role="menuitem" tabindex="-1">Teste</a>
					</li>

					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-211 slicknav_collapsed slicknav_parent">
						<a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
							<a href="http://solopine.com/laurel/shop/" tabindex="-1">Teste dropdown</a>
							<span class="slicknav_arrow">►</span>
						</a>
						<ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209">
								<a href="http://solopine.com/laurel/cart/" role="menuitem" tabindex="-1">1</a>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210">
								<a href="http://solopine.com/laurel/checkout/" role="menuitem" tabindex="-1">2</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

	</nav>

	<div id="top-right">

		<div id="top-search">
			<a href="#"><i class="fa fa-search"></i></a>
		</div>
		<div id="show-search">
			<form role="search" method="get" id="searchform" action="http://solopine.com/laurel/">
				<input type="text" placeholder="Digite sua busca..." name="s" id="s">
				<i class="fa fa-search search-icon"></i>
			</form> <a href="#" class="close-search"><i class="fa fa-close"></i></a>
		</div>

		<div id="top-social">
			<a href="http://facebook.com/solopinedesigns" target="_blank">
				<i class="fa fa-facebook"></i>
			</a>
			<a href="http://instagram.com/solopine" target="_blank">
				<i class="fa fa-instagram"></i>
			</a>
			<a href="http://pinterest.com/#" target="_blank">
				<i class="fa fa-pinterest"></i>
			</a>
			<a href="http://pinterest.com/#" target="_blank">
				<i class="fa fa-youtube-play"></i>
			</a>
		</div>

	</div>

</header>
